<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Momentum</title>
</head>

<body>
    <header class="web-header">
        <h1 class="web-title">Momentum</h1>
    </header>
    <section class="articles-list">
        <% for (let i = 0; i < 15; i++) { %>
            <article class="article">
                <div class="cover">
                    <img src="<%= require('./assets/img/article-empty.png') %>" alt="Author name - Article title">
                </div>
                <div class="info">
                    <div class="title">Article title</div>
                    <div class="author">Author name</div>
                </div>
            </article>
            <% } %>
    </section>
    <footer class="web-footer">
        2018 &copy; All rights reserved.
    </footer>
</body>

</html>