@import "mixins/text-overflow-ellipsis";
@import "mixins/responsive-utils";

.comments-list {
  //background: green;
  height: 200px;
  background: lightblue;
  border: 1px solid black;
  border-radius: 5px;
  overflow: auto; //scroll auto

  .comment {
    //display: flex;
    background: white;
    margin: 10px 10px;
    padding: 5px;
    //align-items: center;
    //margin: 10px;
    box-shadow: 0 1px 5px $shadow-color;
    border-radius: 5px;
    overflow: hidden;
    transition: $default-transition-time all;

    @include if-is-small-device {
      //margin: 10px 5px;
      //width: calc(100% - 10px);
    }

    @include if-is-medium-device {
      //margin: 10px auto;
      //width: calc(100% - 20px);
    }

    @include if-is-large-device {
      //display: flex;
    }

    @include if-is-extra-large-device {
    }

    .comment-name {
      //font-size: $font-size-h6;
      @include if-is-medium-device {
        font-size: $font-size-h1;
      }
      font-weight: bold;
    }

    .comment-email {
      margin-top: 10px;
      text-align: justify;
    }

    .comment-text {
      margin-top: 10px;
      text-align: justify;
    }
  }
}
