@import "mixins/text-overflow-ellipsis";
@import "mixins/responsive-utils";

.articles-list {
  margin: 0 auto; // centra un div horizontalmente (candidato de mixin)
  max-width: $extra-large-device-width;

  .article {
    background: white;
    margin: 5px;
    box-shadow: 0 1px 5px $shadow-color;
    border-radius: 5px;
    overflow: hidden;
    transition: $default-transition-time all;

    @include if-is-small-device {
      width: calc(100% - 10px);
    }

    @include if-is-medium-device {
      margin: 10px auto;
      width: calc(100% - 20px);
    }

    @include if-is-large-device {
      display: flex;
    }

    @include if-is-extra-large-device {
    }

    .url {
      flex: 1;
      padding: 10px;
    }

    .info {
      flex: 2;
      margin: 15px;
      overflow: hidden;

      .title {
        @include if-is-medium-device {
          font-size: $font-size-h1;
        }
        font-weight: bold;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
        &:active {
          color: $links-hover-color;
        }
      }

      .intro {
        margin-top: 10px;
        text-align: justify;
      }

      .author {
        margin-top: 8px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          height: 48px;
          width: 48px;
          border-radius: 50%;
          overflow: hidden;
        }

        .name {
          padding: 8px;
          width: 50%;
          font-size: $font-size-small;

          @include if-is-medium-device {
            font-size: $font-size-base;
          }
        }
        .comments-info {
          display: flex;
          width: calc(50%-48px);
          border-color: black;
          border-radius: 5px;
          overflow: hidden;

          &:hover {
            cursor: pointer;
          }

          .fa-comments {
            flex: 1;
          }
          .commentsNumber {
            flex: 2;
            margin: 0 5px;
          }
        }
      }
    }
  }

  .empty,
  .error,
  .loading {
    text-align: center;
    padding-top: 25px;
  }
}
