@import "mixins/text-overflow-ellipsis";
@import "mixins/responsive-utils";

.comments-list {
  min-height: 80px;
  max-height: 200px;
  background: $comments-body-backcolor;
  border: 1px solid black;
  border-radius: 5px;
  overflow: auto; //scroll auto

  .comment {
    background: white;
    margin: 10px 10px;
    padding: 5px;
    box-shadow: 0 1px 5px $shadow-color;
    border-radius: 5px;
    overflow: hidden;
    transition: $default-transition-time all;

    .comment-name {
      @include if-is-medium-device {
        font-size: $font-size-h5;
      }
      font-weight: bold;
    }

    .comment-email {
      margin-top: 10px;
      text-align: justify;
    }

    .comment-text {
      margin-top: 10px;
      text-align: justify;
    }
  }

  .empty,
  .error,
  .loading {
    text-align: center;
    padding-top: 30px;
  }
}
