@import "mixins/transparent-background";

.web-footer {
  text-align: center;
  font-size: $font-size-small;
  padding: 20px;
  margin: 30px 0 0 0;
  background: black;
  color: white;
  //@include transparent-background(white);
}
