@import "mixins/transparent-background";

.web-header {
  position: fixed;
  width: 100%;
  height: $header-height;
  box-sizing: border-box;
  z-index: 99999;
  top: 0;
  text-align: left;
  //padding: 20px 0;
  padding: 20px 10px;
  box-shadow: 0 0 5px $shadow-color;
  margin: 0 0 30px 0;
  background: white;
  //@include transparent-background(white);

  /*text-align: center;
  padding: 20px 0;
  box-shadow: 0 0 5px $shadow-color;
  margin: 0 0 30px 0;
  @include transparent-background(gray);*/

  .web-title {
    //color: $brand-color;
    color: $color-FEIND;
    text-shadow: 0 1px 1px $shadow-color;
  }
}
