@import "mixins/transparent-background";

.web-header {
  position: fixed;
  width: 100%;
  height: $header-height;
  box-sizing: border-box;
  z-index: 99999;
  top: 0;
  text-align: left;
  //padding: 20px 0;
  //padding: 20px 10px;
  box-shadow: 0 0 5px $shadow-color;
  //margin: 0 0 30px 0;
  background: white;
  display: flex;
  flex-direction: row;

  //@include transparent-background(white);

  /*text-align: center;
  padding: 20px 0;
  box-shadow: 0 0 5px $shadow-color;
  margin: 0 0 30px 0;
  @include transparent-background(gray);*/
  text-align: center;

  .web-title {
    //flex: 1;
    padding: 8px 10px;

    //color: $brand-color;
    color: $color-FEIND;
    text-shadow: 0 1px 1px $shadow-color;
    background: brown;
  }

  .fa {
    position: absolute;
    right: 10px;
    top: 17px;
    font-size: $font-size-large;
    transition: all $default-transition-time;

    body.show-menu & {
      transform: rotate(2 * -45deg);
    }
  }

  .navbar {
    display: none;
  }

  /*.navbar {
    flex: 2;
    //position: fixed;
    top: 0;
    width: 80%;
    background-color: white;
    z-index: 1;
    //height: 50px;
    //padding: 20px 10px;

    .navbar_list {
      float: right;
      list-style-type: none;
      margin: 0;
      font-size: 0;

      .navbar_item {
        display: inline-block;
        font-size: 1rem;
        //height: 50px;

        a {
          display: inline-block;
          text-decoration: none;
          padding: 20px;
          color: rgba(0, 0, 0, 0.9);
          //height: 50px;
          transition: all 0.5s linear;

          &:hover {
            color: blue;
            background-color: green;
            //height: 50px;
          }
        }

        .navbar_item--active a {
          color: blue;
          background-color: green;
          //height: 50px;
        }
      }
    }
  }*/
}
